* {
	margin: 0;
}

.app {
	background-color: #fafafa;
}

.app__header {
	background-color: white;
	padding: 20px;
	border-bottom: 1px solid lightgray;
	object-fit: contain;
	display: flex;
}

.app__signup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.app__headerImage {
	max-width: 100px;
}

.app__posts {
	padding: 20px;
}
